# PyCharm
.idea/

# Дополнительно можно добавить:
*.iws
*.iml
*.ipr

# Папка виртуального окружения (укажите свою, если она называется иначе)
venv/
.env/

# Кэшированные байт-код файлы Python
__pycache__/
*.pyc

# Файлы с чувствительными данными (пароли, ключи API)
secrets.txt
config.py

# Прочее
.DS_Store  (для Mac пользователей)